<div class="page-header">
  <h1>User Stories and Business Rules</h1>
</div>

<h4>User Stories</h4>

<ol>
  <li>As a visitor, I want to read some marketing propaganda on the home page.</li>
  <li>As a visitor, I want to sign up for a user account so that I can become a customer.</li>
  <li>As a user, I want to create a new task.</li>
  <li>As a user, I want to edit a task.</li>
  <li>As a user, I want to delete a task</li>
  <li>As a user, I want to update a task.</li>
  <li>As a user, I want to see all tasks created by me.</li>
  <li>As a user, I want to view all tasks for a date I choose.</li>
</ol>


<h4>Business Rules</h4>

<ol>
  <li>A task has a name, a description, duration, level of importance, and completion date.</li>
  <li>User can only see tasks created by him/herself.</li>
  <li>Task name, description, duration, importance, and completion date cannot be null.</li>
  <li>Only signed up users can use the application.</li>
  <li>User passwords must be securely encrypted.</li>
</ol>
