<div class="container">
	<div class="simple_calendar">
		<%= month_calendar do |date| %>
		<%= link_to date.day, "/tasks/#{date}" %>
		<% end %>

		<p><a class="btn btn-primary btn-md" href="/tasks/new" role="button"> Add Task</a></p>
	</div>
</div>