/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.no-wrap {white-space: nowrap;}

.justified {text-align:justify;}

.right-aligned {float:right;}

.color-blue {color: blue;}

.inline-block {display:inline-block;}

.wide-width {min-width:500px;}

.mid-width {min-width: 150px;}

 .navbar-inverse {
    background-image: linear-gradient(#6d94bf, #446e9b 50%, #3e648d);
    border-color: #395c82;
    text-decoration: none;
    color: white;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
 }

 .navbar-default .navbar-nav > li > a {
    color: #dddddd;
}

.navbar-inverse .navbar-brand {
    color: #dddddd;
}

.navbar-inverse .navbar-text{
    color: #dddddd;

}

.btn-default {
    background-image: linear-gradient(#6d7070, #474949 50%, #3d3f3f);
    background-repeat: no-repeat;
    filter: none;
    border: 1px solid #2e2f2f;
    color: #ffffff;
    background-color: #474949;
}

.btn {
    text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
}

h4 {color:red;}
h6 {text-align:center; font-size: 11px;}